*{
    padding: 0px;
    margin: 0px;
}
.header{
    width: 57%;
    display: flex;
    flex-direction: column;
    font-family: 'Big Shoulders Text', sans-serif;
    margin: auto;
}
.above-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
   
  }
  
  .search-header input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 150px;
    margin-right: 5px;
  }
  
  .filter-buttons {
    width: 100%;
    padding-bottom: 10px;
  }
  
  .filter-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  
  .filter-content {
    display: flex;
    gap: 5px;
  }
  
  