.above-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  #searchinput{
    padding: 5px;
    border: 1px solid black;
    width: 150px;
    border-radius: 10px;
    margin-right: 5px;
  }
  
  .filter-buttons {
    padding-right: 300px;
    padding-left: 300px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    height: 100px;
  }
  
  .filter-buttons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  
  .filter-text {
    display: flex;
    gap: 5px;
    align-items: center;

  }
  
  