@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    
    font-family: 'Big Shoulders Inline Display', sans-serif;
    font-weight: 800;
    width:100%;
    background-color: black;
    color: white;
    padding-left:  18%;
    padding-top:1%;
    padding-bottom: 1%;
    font-size: 2.5rem;
}