*{
    padding:0px;
    margin:0px;
}

.detailcard{
    margin-top: 40px;
    height: 770px;
    width: 600px;
    background-color: black;
    color: white;
    padding: 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailcard-image{
    height: 50%;
    width: 100%;    
}

#detailcard-img{
    height: 100%;
    width: 100%;    
}

.detailcard-content{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    font-family: 'Big Shoulders Text', sans-serif;
}

.detailcard-title{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Big Shoulders Text', sans-serif;
}

.detailcard-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Sofia Sans', sans-serif;
}

.detailcard-icons{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 5px;
    margin: 20px;
    
}

.detailbookmark-icon{
    height: 100%;
    width: 100%;
    size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailregister-div{
   color:#A0F3AD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detailcard-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailcard-button button{
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Big Shoulders Text', sans-serif;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .detailcard{
        margin-top: 40px;
        height: 850px;
        width: 100%;
    }
}